

.image {
  border-radius: $r-normal;
  box-shadow: 0 0 0 0.5rem $light-black;
  &--corner {
    display: block;
    position: relative;
    z-index: 1;

    &::before {
      @include attach('attach-top-left', -8rem, -8rem, 45deg, $red);
      animation: attach-top-left 1s ease-in forwards;
      content: "";
      display: block;
      width: 35%;
      height: 35%;
      position: absolute;
      z-index: -1;
      top: -8%;
      left: -8%;
      background-color: $red;
      border-radius: $r-normal;
      clip-path: polygon(0 0, 0 100%, 10% 100%, 10% 10%, 100% 10%, 100% 0, 0 0);
    }

    &::after {
      @include attach( 'attach-bottom-right', 8rem, 8rem, -45deg, $red);
      animation: attach-bottom-right 1s ease-in forwards;
      content: "";
      display: block;
      width: 35%;
      height: 35%;
      position: absolute;
      z-index: -1;
      bottom: -8%;
      right: -8%;
      background-color: $red;
      border-radius: $r-normal;
      clip-path: polygon(0 0, 0 100%, 10% 100%, 10% 10%, 100% 10%, 100% 0, 0 0);
      transform: scale(-1);
    }
  }
}