.contacts{
  height: 100%;
  display: flex;
  flex-direction: column;
  
  
  &__list{
    list-style: none;
    font-size: 1.5rem;
    line-height: 2rem;
    letter-spacing: 0.2rem;
    i{
      color: $red;
    }
  }
  &__container{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 3rem 0;
    height: 1fr;
  }

  @media (max-width: 500px) {
    &__link{
      letter-spacing: 0.05rem;
      font-size: 1.2rem;
    }
  }
}