.home{
  display: flex;
  flex-direction: row;
  gap: 4rem;
  width: 100%;
  padding: 10rem 4rem;
  align-items: center;

  &__title{
    letter-spacing: 0.2rem;
    margin-bottom: 0.5rem;
    animation: appear 0.5s ease;
  }
  &__subtitle{
    margin-bottom : 1rem;
  }
  &__text{
    animation: appear 0.5s ease;
  }
  &__image{
    max-width: 25rem;
    animation: appear 0.5s;
  }
  &__button{
    animation: appear 0.5s ease;
  }

  @media (max-width: 1250px) {
    flex-direction: column;
  }
}