// COLORS
$light-black: #121212;
$black: #090909;

$faded-white: #ebebeb;

$blue: #3B82F6;
$red: #E53935;
$light-gray: #aeafb3;
$gray: #3b3c42;
$dark-gray: #2b2c31;
$x-dark-gray: #1b1c1e;

// DIMENSIONS

$r-normal: 0.5rem;
$r-small: 0.3rem;
