.header{
  position: relative;
  background-color: $light-black;
  width: 100%;
  line-height: 3rem;
  text-align: center;
  padding: 0 1rem;

  &__list{
    display: none;
    position: absolute;
    top: 0;
    font-size: 2rem;
    left: 1rem;
    cursor: pointer;
  }

  @media (max-width: $med-nav-min) {
    &__list{
      display: block;
    }
  }
}